Repository petersmith-hun/domino-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-domino-platform-coordinator-release, run-domino-platform-docker-agent-release

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  check-for-changes:
    jobs:
      - path-filtering/filter:
          filters:
            branches:
              only:
                - deploy
          name: check-updated-files
          mapping: |
            modules/coordinator/.* run-domino-platform-coordinator-release true
            modules/docker-agent/.* run-domino-platform-docker-agent-release true
          base-revision: deploy
          config-path: .circleci/conditional_build_config.yml

LFLT-575 Implement the REST API of Domino Coordinator - Minor code improvements - Implemented unit tests
  modules/coordinator/config/test.yml
  modules/coordinator/jest.config.js
  modules/coordinator/src/coordinator/coordinator-application.ts
  modules/coordinator/src/coordinator/web/controller/lifecycle-controller.ts
  modules/coordinator/src/coordinator/web/model/authentication.ts
  modules/coordinator/src/coordinator/web/model/common.ts
  modules/coordinator/src/coordinator/web/model/lifecycle.ts
  modules/coordinator/src/coordinator/web/utility/mapping-helper.ts
  modules/coordinator/tests/coordinator/coordinator-application.test.ts
  modules/coordinator/tests/coordinator/core/config/app-info-config-module.test.ts
  modules/coordinator/tests/coordinator/core/config/auth-config-module.test.ts
  modules/coordinator/tests/coordinator/core/config/server-config-module.test.ts
  modules/coordinator/tests/coordinator/web/controller-registration.test.ts
  modules/coordinator/tests/coordinator/web/controller/actuator-controller.test.ts
  modules/coordinator/tests/coordinator/web/controller/authentication-controller.test.ts
  modules/coordinator/tests/coordinator/web/controller/lifecycle-controller.test.ts
  modules/coordinator/tests/coordinator/web/utility/authorization-helper.test.ts
  modules/coordinator/tests/coordinator/web/utility/jwt-utility.test.ts
  modules/coordinator/tests/coordinator/web/utility/mapping-helper.test.ts
  modules/coordinator/tests/coordinator/web/utility/middleware.test.ts
  modules/coordinator/tests/coordinator/web/web.testdata.ts
  modules/coordinator/tsconfig.json
  modules/coordinator/tsconfig.test.json
  modules/platform-core/config/test.yml
  modules/platform-core/jest.config.js
  modules/platform-core/src/lib/platform/config/index.ts
  modules/platform-core/tests/lib/platform/config/logging-config-module.test.ts
  modules/platform-core/tests/lib/platform/logging/logger-factory.test.ts
  modules/platform-core/tsconfig.test.json
  package.json
Due: run-domino-platform-coordinator-release

LFLT-582 Implement the agent agnostic common features in Domino Coordinator - Live code improvements - Implemented unit tests
  modules/coordinator/config/test.yml
  modules/coordinator/jest.config.js
  modules/coordinator/src/coordinator/core/service/deployment-facade.ts
  modules/coordinator/src/coordinator/core/service/healthcheck/healthcheck-provider.ts
  modules/coordinator/src/coordinator/core/service/healthcheck/healthcheck-response-processor.ts
  modules/coordinator/src/coordinator/core/service/healthcheck/index.ts
  modules/coordinator/src/coordinator/core/service/info/info-provider.ts
  modules/coordinator/src/coordinator/core/service/info/info-response-processor.ts
  modules/coordinator/tests/coordinator/core/config/deployment-config-module.test.ts
  modules/coordinator/tests/coordinator/core/config/deployment.testdata.ts
  modules/coordinator/tests/coordinator/core/core.testdata.ts
  modules/coordinator/tests/coordinator/core/service/deployment-facade.test.ts
  modules/coordinator/tests/coordinator/core/service/healthcheck/healthcheck-provider.test.ts
  modules/coordinator/tests/coordinator/core/service/healthcheck/healthcheck-response-processor.test.ts
  modules/coordinator/tests/coordinator/core/service/info/info-provider.test.ts
  modules/coordinator/tests/coordinator/core/service/info/info-response-processor.test.ts
  modules/coordinator/tests/coordinator/web/controller-registration.test.ts
  modules/coordinator/tests/coordinator/web/controller/actuator-controller.test.ts
  modules/coordinator/tests/coordinator/web/controller/authentication-controller.test.ts
  modules/coordinator/tests/coordinator/web/controller/lifecycle-controller.test.ts
  modules/coordinator/tests/coordinator/web/utility/mapping-helper.test.ts
  modules/coordinator/tests/coordinator/web/utility/middleware.test.ts
  modules/coordinator/tests/coordinator/web/web.testdata.ts
  modules/coordinator/tsconfig.json
  modules/platform-core/config/test.yml
  modules/platform-core/jest.config.js
  modules/platform-core/src/lib/platform/api/deployment/index.ts
  modules/platform-core/src/lib/platform/error/index.ts
  modules/platform-core/tests/lib/platform/config/configuration-module.test.ts
  modules/platform-core/tests/lib/platform/config/logging-config-module.test.ts
Due: run-domino-platform-coordinator-release

LFLT-582 Implement the agent agnostic common features in Domino Coordinator - Added missing js-yaml dependency
  package.json
Due: none

LFLT-582 Implement the agent agnostic common features in Domino Coordinator - Fixed dependency installation from parent package.json - Removed Coordinator dependency on Agent Core
  .circleci/conditional_build_config.yml
  modules/coordinator/tsconfig.json
Due: run-domino-platform-coordinator-release

LFLT-576 Implement the Domino Agent Core library - Minor improvements and fixes - Added unit and integration tests - Removed d.ts clean-up step from build
  .circleci/conditional_build_config.yml
  modules/agent-core/config/test.yml
  modules/agent-core/jest.config.js
  modules/agent-core/src/lib/agent/service/agent-runner-service.ts
  modules/agent-core/src/lib/agent/service/message/confirmation-message-handler.ts
  modules/agent-core/src/lib/agent/service/message/keep-alive-message-handler.ts
  modules/agent-core/src/lib/agent/service/message/lifecycle-message-handler.ts
  modules/agent-core/src/lib/agent/service/task/announcement-task.ts
  modules/agent-core/src/lib/agent/service/task/command-listener-loop-task.ts
  modules/agent-core/src/lib/agent/service/task/index.ts
  modules/agent-core/src/lib/agent/service/task/keep-alive-task.ts
  modules/agent-core/src/lib/agent/service/task/socket-connection-task.ts
  modules/agent-core/tests/lib/agent/agent-build.it.test.ts
  modules/agent-core/tests/lib/agent/config/agent-common-config-module.test.ts
  modules/agent-core/tests/lib/agent/mockserver.ts
  modules/agent-core/tests/lib/agent/service/agent-runner-service.test.ts
  modules/agent-core/tests/lib/agent/service/message/confirmation-message-handler.test.ts
  modules/agent-core/tests/lib/agent/service/message/keep-alive-message-handler.test.ts
  modules/agent-core/tests/lib/agent/service/message/lifecycle-message-handler.test.ts
  modules/agent-core/tests/lib/agent/service/task/announcement-task.test.ts
  modules/agent-core/tests/lib/agent/service/task/authentication-task.test.ts
  modules/agent-core/tests/lib/agent/service/task/command-listener-loop-task.test.ts
  modules/agent-core/tests/lib/agent/service/task/keep-alive-task.test.ts
  modules/agent-core/tests/lib/agent/service/task/socket-connection-task.test.ts
  modules/agent-core/tests/lib/agent/testdata.ts
  modules/agent-core/tsconfig.json
  modules/coordinator/src/coordinator/core/service/healthcheck/healthcheck-provider.ts
  modules/coordinator/src/coordinator/core/service/healthcheck/healthcheck-response-processor.ts
  modules/coordinator/src/coordinator/core/service/info/info-response-processor.ts
  modules/platform-core/src/lib/platform/api/socket/index.ts
Due: run-domino-platform-coordinator-release

LFLT-576 Implement the Domino Agent Core library - Documentation fixes
  modules/agent-core/src/lib/agent/service/message/confirmation-message-handler.ts
  modules/agent-core/src/lib/agent/service/message/index.ts
  modules/agent-core/src/lib/agent/service/message/keep-alive-message-handler.ts
  modules/agent-core/src/lib/agent/service/message/lifecycle-message-handler.ts
  modules/agent-core/src/lib/agent/service/task/command-listener-loop-task.ts
  modules/agent-core/src/lib/agent/service/task/keep-alive-task.ts
Due: none

LFLT-577 Implement the Agent controller logic in Domino Coordinator - Minor improvements and fixes - Implemented unit tests
  modules/coordinator/config/test.yml
  modules/coordinator/src/coordinator/core/config/agent-config-module.ts
  modules/coordinator/src/coordinator/core/service/lifecycle-service.ts
  modules/coordinator/src/coordinator/core/service/registry/agent-registry.ts
  modules/coordinator/src/coordinator/core/socket/lifecycle-operation-registry.ts
  modules/coordinator/src/coordinator/core/socket/message/announcement-message-processor.ts
  modules/coordinator/src/coordinator/core/socket/message/failure-message-processor.ts
  modules/coordinator/src/coordinator/core/socket/message/lifecycle-result-message-processor.ts
  modules/coordinator/tests/coordinator/coordinator-application.test.ts
  modules/coordinator/tests/coordinator/core/config/agent-config-module.test.ts
  modules/coordinator/tests/coordinator/core/core.testdata.ts
  modules/coordinator/tests/coordinator/core/service/lifecycle-service.test.ts
  modules/coordinator/tests/coordinator/core/service/registry/agent-registry.test.ts
  modules/coordinator/tests/coordinator/core/socket/lifecycle-operation-registry.test.ts
  modules/coordinator/tests/coordinator/core/socket/message/announcement-message-processor.test.ts
  modules/coordinator/tests/coordinator/core/socket/message/delegating-message-processor.test.ts
  modules/coordinator/tests/coordinator/core/socket/message/failure-message-processor.test.ts
  modules/coordinator/tests/coordinator/core/socket/message/lifecycle-result-message-processor.test.ts
  modules/coordinator/tests/coordinator/core/socket/message/ping-message-processor.test.ts
  modules/coordinator/tests/coordinator/core/socket/socket-handler.test.ts
  modules/coordinator/tests/coordinator/web/socket/agent-authorizer.test.ts
  modules/coordinator/tests/coordinator/web/socket/agent-server.test.ts
Due: run-domino-platform-coordinator-release

LFLT-577 Implement the Agent controller logic in Domino Coordinator - Documentation fixes - Improved unit test coverage of platform-core module
  modules/coordinator/src/coordinator/core/socket/lifecycle-operation-registry.ts
  modules/coordinator/src/coordinator/core/socket/message/index.ts
  modules/coordinator/src/coordinator/core/socket/message/ping-message-processor.ts
  modules/coordinator/src/coordinator/web/socket/agent-server.ts
  modules/coordinator/tests/coordinator/core/socket/message/lifecycle-result-message-processor.test.ts
  modules/platform-core/config/test.yml
  modules/platform-core/tests/lib/platform/config/configuration-module.test.ts
Due: run-domino-platform-coordinator-release

LFLT-578 Implement the Domino Docker Agent - Minor fixes and improvements - Added unit tests
  modules/coordinator/config/test.yml
  modules/coordinator/tests/coordinator/core/config/deployment.testdata.ts
  modules/docker-agent/config/test.yml
  modules/docker-agent/jest.config.js
  modules/docker-agent/src/agent/service/docker/client/docker-engine-api-client.ts
  modules/docker-agent/src/agent/service/docker/factory/docker-create-container-request-mapper.ts
  modules/docker-agent/src/agent/service/docker/factory/docker-request-factory.ts
  modules/docker-agent/src/agent/service/docker/response/docker-response-handler.ts
  modules/docker-agent/src/agent/task/docker-identification-task.ts
  modules/docker-agent/tests/agent/config/docker-engine-config-module.test.ts
  modules/docker-agent/tests/agent/service/docker/client/docker-engine-api-client.test.ts
  modules/docker-agent/tests/agent/service/docker/docker-lifecycle-operation.test.ts
  modules/docker-agent/tests/agent/service/docker/factory/docker-create-container-request-mapper.test.ts
  modules/docker-agent/tests/agent/service/docker/factory/docker-request-factory.test.ts
  modules/docker-agent/tests/agent/service/docker/response/docker-response-handler.test.ts
  modules/docker-agent/tests/agent/task/docker-identification-task.test.ts
  modules/docker-agent/tests/agent/testdata.ts
  modules/docker-agent/tsconfig.json
  modules/docker-agent/tsconfig.test.json
  modules/platform-core/src/lib/platform/api/deployment/index.ts
Due: run-domino-platform-coordinator-release, run-domino-platform-docker-agent-release

LFLT-578 Implement the Domino Docker Agent - Formatting fixes
  modules/docker-agent/config/default.yml
  modules/docker-agent/src/agent/service/docker/client/docker-engine-api-client.ts
  modules/docker-agent/src/agent/service/docker/factory/docker-request-factory.ts
  modules/docker-agent/src/agent/service/docker/response/docker-response-handler.ts
  modules/docker-agent/tests/agent/service/docker/factory/docker-create-container-request-mapper.test.ts
Due: run-domino-platform-docker-agent-release

LFLT-581 Implement the Domino Binary Executable Agent - Minor improvements and fixes - Added unit tests
  modules/binary-executable-agent/config/test.yml
  modules/binary-executable-agent/src/agent/registry/executor-user-registry.ts
  modules/binary-executable-agent/src/agent/registry/runtime-registry.ts
  modules/binary-executable-agent/src/agent/service/execution/handler/deployment-source-handler.ts
  modules/binary-executable-agent/src/agent/service/execution/handler/pid-file-handler.ts
  modules/binary-executable-agent/src/agent/service/execution/handler/process-handler.ts
  modules/binary-executable-agent/src/agent/task/platform-compatibility-check-task.ts
  modules/binary-executable-agent/src/agent/utility/binary-reference-utility.ts
  modules/binary-executable-agent/tests/agent/config/runtime-config-module.test.ts
  modules/binary-executable-agent/tests/agent/config/spawn-control-config-module.test.ts
  modules/binary-executable-agent/tests/agent/config/storage-config-module.test.ts
  modules/binary-executable-agent/tests/agent/registry/executor-user-registry.test.ts
  modules/binary-executable-agent/tests/agent/registry/runtime-registry.test.ts
  modules/binary-executable-agent/tests/agent/registry/service-adapter-registry.test.ts
  modules/binary-executable-agent/tests/agent/service/binary-execution-lifecycle-operation.test.ts
  modules/binary-executable-agent/tests/agent/service/execution/handler/deployment-binary-installer.test.ts
  modules/binary-executable-agent/tests/agent/service/execution/handler/deployment-coordinator.test.ts
  modules/binary-executable-agent/tests/agent/service/execution/handler/deployment-source-handler.test.ts
  modules/binary-executable-agent/tests/agent/service/execution/handler/pid-file-handler.test.ts
  modules/binary-executable-agent/tests/agent/service/execution/handler/process-handler.test.ts
  modules/binary-executable-agent/tests/agent/service/execution/handler/service/systemd-service-adapter.test.ts
  modules/binary-executable-agent/tests/agent/service/execution/strategy/direct-execution-strategy.test.ts
  modules/binary-executable-agent/tests/agent/service/execution/strategy/runtime-execution-strategy.test.ts
  modules/binary-executable-agent/tests/agent/service/execution/strategy/service-execution-strategy.test.ts
  modules/binary-executable-agent/tests/agent/task/platform-compatibility-check-task.test.ts
  modules/binary-executable-agent/tests/agent/task/registry-initialization-task.test.ts
  modules/binary-executable-agent/tests/agent/task/storage-attachment-task.test.ts
  modules/binary-executable-agent/tests/agent/testdata.ts
  modules/binary-executable-agent/tests/agent/utility/binary-reference-utility.test.ts
  modules/binary-executable-agent/tests/agent/utility/command-line-utility.test.ts
  modules/binary-executable-agent/tests/agent/utility/storage-utility.test.ts
Due: none

LFLT-581 Implement the Domino Binary Executable Agent - Configured pkg packaging for binary-execution-agent module - Aligned CircleCI build pipeline for binary-execution-agent module
  .circleci/conditional_build_config.yml
  .circleci/config.yml
  modules/binary-executable-agent/package.json
  modules/binary-executable-agent/src/bin-exec-agent-main.ts
Due: none

LFLT-581 Implement the Domino Binary Executable Agent - Fixed build number extraction
  .circleci/conditional_build_config.yml
Due: none

LFLT-581 Implement the Domino Binary Executable Agent - Minor changes to trigger deployment
  modules/binary-executable-agent/src/agent/registry/service-adapter-registry.ts
  modules/binary-executable-agent/src/agent/service/execution/handler/service/systemd-service-adapter.ts
Due: none

LFLT-608 Update dependencies of TypeScript application stack - Switched back to NodeJS v18 for packaging the Binary Executable Agent due to incompatibility
  modules/binary-executable-agent/package.json
Due: none

LFLT-608 Update dependencies of TypeScript application stack - Fixed GitHub executable deployment
  .circleci/conditional_build_config.yml
  modules/binary-executable-agent/config/default.yml
Due: none

LFLT-580 Create a system and API documentation for Domino Platform - Added root and per-component documentations
  README.md
  modules/binary-executable-agent/README.md
  modules/binary-executable-agent/config/default.yml
  modules/coordinator/README.md
  modules/docker-agent/README.md
Due: run-domino-platform-coordinator-release, run-domino-platform-docker-agent-release

LFLT-580 Create a system and API documentation for Domino Platform - Documentation fixes
  modules/binary-executable-agent/README.md
  modules/coordinator/README.md
  modules/coordinator/config/test.yml
  modules/coordinator/tests/coordinator/core/config/deployment.testdata.ts
  modules/docker-agent/README.md
Due: run-domino-platform-coordinator-release, run-domino-platform-docker-agent-release

LFLT-626 Implement dynamic deployment definition storage - Fixed ordering deployment definitions on querying all - Added unit tests
  modules/coordinator/config/test.yml
  modules/coordinator/src/coordinator/core/dao/deployment-definition-dao.ts
  modules/coordinator/tests/coordinator/core/config/deployment-config-module.test.ts
  modules/coordinator/tests/coordinator/core/config/deployment.testdata.ts
  modules/coordinator/tests/coordinator/core/core.testdata.ts
  modules/coordinator/tests/coordinator/core/dao/deployment-definition-dao.test.ts
  modules/coordinator/tests/coordinator/core/init/deployment-importer-initializer.test.ts
  modules/coordinator/tests/coordinator/core/service/deployment-definition-service.test.ts
  modules/coordinator/tests/coordinator/core/service/deployment-facade.test.ts
  modules/coordinator/tests/coordinator/web/controller/deployments-controller.test.ts
Due: run-domino-platform-coordinator-release

LFLT-626 Implement dynamic deployment definition storage - Bumped patch versions
  modules/agent-core/package.json
  modules/binary-executable-agent/package.json
  modules/docker-agent/package.json
  modules/platform-core/package.json
Due: run-domino-platform-docker-agent-release

LFLT-627 Extend the deployment definition API with definition management capabilities - Implemented deployment definition creation, import, update, unlock and delete operations
  modules/coordinator/src/coordinator/core/config/abstract-deployment-config-module.ts
  modules/coordinator/src/coordinator/core/config/deployment-config-module.ts
  modules/coordinator/src/coordinator/core/config/imported-deployment-config-module.ts
  modules/coordinator/src/coordinator/core/conversion/index.ts
  modules/coordinator/src/coordinator/core/dao/deployment-definition-dao.ts
  modules/coordinator/src/coordinator/core/domain/index.ts
  modules/coordinator/src/coordinator/core/error/error-types.ts
  modules/coordinator/src/coordinator/core/service/deployment-definition-service.ts
  modules/coordinator/src/coordinator/core/service/deployment-facade.ts
  modules/coordinator/src/coordinator/web/controller-registration.ts
  modules/coordinator/src/coordinator/web/controller/deployments-controller.ts
  modules/coordinator/src/coordinator/web/conversion/index.ts
  modules/coordinator/src/coordinator/web/model/common.ts
  modules/coordinator/src/coordinator/web/model/deployment.ts
  modules/coordinator/src/coordinator/web/utility/middleware.ts
  modules/platform-core/src/lib/platform/api/common/index.ts
  modules/platform-core/src/lib/platform/config/index.ts
  package.json
Due: run-domino-platform-coordinator-release

LFLT-627 Extend the deployment definition API with definition management capabilities - Fixed issues with loading JSON deployment definitions
  modules/coordinator/src/coordinator/core/config/deployment/abstract-deployment-config-module.ts
  modules/coordinator/src/coordinator/core/config/deployment/deployment-config-module.ts
  modules/coordinator/src/coordinator/core/config/deployment/imported-deployment-config-module.ts
  modules/coordinator/src/coordinator/core/config/deployment/loader.ts
  modules/coordinator/src/coordinator/core/config/imported-deployment-config-module.ts
  modules/coordinator/src/coordinator/core/domain/index.ts
  modules/coordinator/src/coordinator/core/error/error-types.ts
  modules/coordinator/src/coordinator/core/init/deployment-importer-initializer.ts
  modules/coordinator/src/coordinator/core/service/deployment-definition-service.ts
  modules/coordinator/src/coordinator/web/controller/deployments-controller.ts
  modules/coordinator/src/coordinator/web/conversion/index.ts
  modules/coordinator/src/coordinator/web/model/deployment.ts
  modules/coordinator/src/coordinator/web/utility/middleware.ts
  modules/coordinator/tests/coordinator/core/config/deployment-config-module.test.ts
  modules/coordinator/tests/coordinator/core/init/deployment-importer-initializer.test.ts
  modules/platform-core/src/lib/platform/api/common/index.ts
  modules/platform-core/src/lib/platform/config/index.ts
Due: run-domino-platform-coordinator-release

LFLT-627 Extend the deployment definition API with definition management capabilities - Minor fixes and API improvements
  modules/coordinator/src/coordinator/core/config/deployment/loader.ts
  modules/coordinator/src/coordinator/core/conversion/index.ts
  modules/coordinator/src/coordinator/core/domain/index.ts
  modules/coordinator/src/coordinator/web/controller/deployments-controller.ts
Due: run-domino-platform-coordinator-release

LFLT-627 Extend the deployment definition API with definition management capabilities - Updated vulnerable dependencies - Updated documentation - Added unit tests
  .circleci/conditional_build_config.yml
  modules/agent-core/package.json
  modules/binary-executable-agent/README.md
  modules/binary-executable-agent/package.json
  modules/coordinator/README.md
  modules/coordinator/config/test.yml
  modules/coordinator/package.json
  modules/coordinator/src/coordinator/core/config/deployment/loader.ts
  modules/coordinator/src/coordinator/core/conversion/index.ts
  modules/coordinator/tests/coordinator/core/config/deployment-config-module.test.ts
  modules/coordinator/tests/coordinator/core/config/deployment.testdata.ts
  modules/coordinator/tests/coordinator/core/config/imported-deployment-config-module.test.ts
  modules/coordinator/tests/coordinator/core/core.testdata.ts
  modules/coordinator/tests/coordinator/core/dao/deployment-definition-dao.test.ts
  modules/coordinator/tests/coordinator/core/service/deployment-definition-service.test.ts
  modules/coordinator/tests/coordinator/core/service/deployment-facade.test.ts
  modules/coordinator/tests/coordinator/web/controller-registration.test.ts
  modules/coordinator/tests/coordinator/web/controller/deployments-controller.test.ts
  modules/coordinator/tests/coordinator/web/utility/middleware.test.ts
  modules/coordinator/tests/coordinator/web/web.testdata.ts
  modules/docker-agent/README.md
  modules/docker-agent/package.json
  package.json
Due: run-domino-platform-coordinator-release, run-domino-platform-docker-agent-release

LFLT-627 Extend the deployment definition API with definition management capabilities - Added RC (build only) pipelines to CircleCI configuration
  .circleci/conditional_build_config.yml
Due: none

LFLT-627 Extend the deployment definition API with definition management capabilities - Added RC (build only) pipelines to CircleCI configuration
  .circleci/config.yml
  modules/coordinator/build-time.json
  modules/docker-agent/build-time.json
Due: run-domino-platform-coordinator-release, run-domino-platform-docker-agent-release

LFLT-627 Extend the deployment definition API with definition management capabilities - Reverted Axios version to 1.7.7
  modules/binary-executable-agent/package.json
  modules/coordinator/package.json
  modules/docker-agent/package.json
Due: run-domino-platform-coordinator-release, run-domino-platform-docker-agent-release

LFLT-627 Extend the deployment definition API with definition management capabilities - Changed Axios version to 1.7.3, unaffected by socket path resolution issue
  modules/binary-executable-agent/package.json
  modules/coordinator/package.json
  modules/docker-agent/package.json
Due: run-domino-platform-coordinator-release, run-domino-platform-docker-agent-release

LFLT-634 Design and implement Domino Secret Manager - Fixed low test coverage in platform-core module
  modules/coordinator/src/coordinator/core/dao/secret-dao.ts
  modules/coordinator/src/coordinator/core/domain/storage.ts
  modules/coordinator/src/coordinator/core/service/encryption/encryption-handler.ts
  modules/platform-core/tests/lib/platform/config/configuration-module.test.ts
Due: run-domino-platform-coordinator-release

LFLT-640 Integrate Domino Secret Manager into Domino CLI - Extended documentation with guide about using secrets
  modules/coordinator/README.md
Due: run-domino-platform-coordinator-release

LFLT-654 Integrate OAuth application registration into Domino - Finally bumped Axios version to 1.15.1 and added workaround for its ~2-year-old socketPath issue
  modules/binary-executable-agent/package.json
  modules/coordinator/package.json
  modules/docker-agent/package.json
  modules/docker-agent/src/agent/service/docker/client/docker-engine-api-client.ts
  modules/docker-agent/tests/agent/service/docker/client/docker-engine-api-client.test.ts
Due: run-domino-platform-coordinator-release, run-domino-platform-docker-agent-release

LFLT-654 Integrate OAuth application registration into Domino - Fixed tsconfig for tests - Added Domino logo
  README.md
  domino.png
  modules/agent-core/tests/tsconfig.json
  modules/agent-core/tsconfig.test.json
  modules/binary-executable-agent/tests/tsconfig.json
  modules/binary-executable-agent/tsconfig.test.json
  modules/coordinator/tests/tsconfig.json
  modules/coordinator/tsconfig.test.json
  modules/docker-agent/tests/tsconfig.json
  modules/docker-agent/tsconfig.test.json
  modules/platform-core/tests/tsconfig.json
  modules/platform-core/tsconfig.test.json
Due: run-domino-platform-coordinator-release, run-domino-platform-docker-agent-release

LFLT-654 Integrate OAuth application registration into Domino - Bumped Path Filtering orb version to 3.0.0
  .circleci/config.yml
Due: none

LFLT-654 Integrate OAuth application registration into Domino - Fixed populating secrets even on reimport
  .circleci/conditional_build_config.yml
  modules/coordinator/src/coordinator/core/service/oauth/lags/lags-oauth-registration-adapter.ts
  modules/coordinator/src/coordinator/web/controller/deployments-controller.ts
  modules/coordinator/tests/coordinator/core/service/oauth/lags/lags-oauth-registration-adapter.test.ts
Due: run-domino-platform-coordinator-release

LFLT-674 Update dependencies of Domino Platform - Updated Node runtime to v24 - Updated dependencies - Aligned parts of code where dependency updates caused compilation or runtime errors
  .circleci/conditional_build_config.yml
  Dockerfile
  modules/agent-core/package.json
  modules/agent-core/src/lib/agent/config/agent-common-config-module.ts
  modules/binary-executable-agent/README.md
  modules/binary-executable-agent/package.json
  modules/binary-executable-agent/src/agent/config/spawn-control-config-module.ts
  modules/coordinator/README.md
  modules/coordinator/package.json
  modules/coordinator/src/coordinator/core/config/agent-config-module.ts
  modules/coordinator/src/coordinator/core/config/deployment/abstract-deployment-config-module.ts
  modules/coordinator/src/coordinator/core/conversion/index.ts
  modules/coordinator/src/coordinator/web/utility/jwt-utility.ts
  modules/docker-agent/README.md
  modules/docker-agent/package.json
  modules/platform-core/package.json
  modules/platform-core/src/lib/platform/logging/index.ts
  package.json
Due: run-domino-platform-coordinator-release, run-domino-platform-docker-agent-release

LFLT-674 Update dependencies of Domino Platform - Fixed unit tests affected by the dependency updates
  modules/agent-core/package.json
  modules/agent-core/tests/lib/agent/mockserver.ts
  modules/binary-executable-agent/package.json
  modules/binary-executable-agent/tests/agent/registry/executor-user-registry.test.ts
  modules/binary-executable-agent/tests/agent/registry/runtime-registry.test.ts
  modules/binary-executable-agent/tests/agent/registry/service-adapter-registry.test.ts
  modules/binary-executable-agent/tests/agent/service/binary-execution-lifecycle-operation.test.ts
  modules/binary-executable-agent/tests/agent/service/execution/handler/deployment-source-handler.test.ts
  modules/binary-executable-agent/tests/agent/service/execution/handler/process-handler.test.ts
  modules/coordinator/package.json
  modules/coordinator/src/coordinator/core/domain/oauth.ts
  modules/coordinator/tests/coordinator/core/config/deployment-config-module.test.ts
  modules/coordinator/tests/coordinator/web/utility/authorization-helper.test.ts
  modules/coordinator/tests/coordinator/web/utility/jwt-utility.test.ts
  modules/docker-agent/package.json
  modules/platform-core/package.json
  modules/platform-core/tests/lib/platform/logging/logger-factory.test.ts
Due: run-domino-platform-coordinator-release, run-domino-platform-docker-agent-release

LFLT-674 Update dependencies of Domino Platform - Updated base image to Debian 13
  Dockerfile
Due: none
